{% extends 'base.html.twig' %}

{% block title %}Hypnobox - Dojo: TDD{% endblock %}

{% block body %}
   
     <div>
        <strong>Link para manual do phpunit</strong></div>
        <div>
            <a href="https://phpunit.de/manual/current/pt_br/installation.html">https://phpunit.de/manual/current/pt_br/installation.html</a>
        </div>
        <div>&nbsp;</div>
        <strong>Coverage (Via terminar)</strong>
        <div>
            <code>vendor/bin/phpunit tests/LessonTddBundle/ --coverage-html /tmp/cover/</code>
        </div>
        <div>&nbsp;</div>
        <div>
            <strong>Prova estagiários usando TDD com testes unitários em phpUnit </strong>
            <br>
            <strong>Exemplo via terminal</strong>
            <br>
            <code>phpunit tests/LessonTddBundle/Service/NumeroTest.php</code>
            <br>
            <strong>Exemplo via terminal</strong>
            <br>
            <code>phpunit tests/LessonTddBundle/Service/ContasTest.php</code>
            <br>
            <strong>Exemplo via terminal</strong>
            <br>
            <code>phpunit tests/LessonTddBundle/Service/ProvinhaEstagiariosTest.php</code>
            <br>
            <br>
        <div>    
        
    </div>
    
{% endblock %}    
