{% extends 'base.html.twig' %}

{% block title %}Hypnobox - Dojo: TDD{% endblock %}

{% block body %}
    
    <div class="container">
        Teste de numero usando phpUnit. <br>
        
        Exemplo via terminal:
        phpunit tests/LessonTddBundle/Service/NumeroTest.php
        
    </div>
    
{% endblock %}    
