{% extends 'base.html.twig' %}

{% block title %}Hypnobox - Dojo: Design Patterns{% endblock %}

{% block body %}
    <!-- Portfolio Grid Section -->
    <div class="container">
        Teste de numero usando phpUnit. <br>
        
        Exemplo:
        phpunit tests/LessonTddBundle/Service/NumeroTest.php
        
    </div>
    
{% endblock %}    
