{% extends 'base.html.twig' %}

{% block title %}Hypnobox - Dojo: Design Patterns:Lista de clientes{% endblock %}

{% block body %}
    
    <span>Total de clientes: {{total}}</span>
    
    <ul id="navigation">
        {% for client in clients %}
            <li>{{client.getName()}} ({{client.getMail()}}), tem  {{client.getAge()}} ano(s).</li>
        {% endfor %}
    </ul>
    
{% endblock %}    
